
@model List<RudycommerceData.Models.ASPModels.LocalizedCatListItem>

@{
    Layout = null;
}

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @Resources.Global.Categories
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    @if (Model == null)
    {
        <div class="content-horizontal-center">@Resources.Global.NoCategoriesFound</div>
    }
    else
    {
        foreach (var cat in Model)
        {
        @Html.ActionLink(
                     cat.LocalizedName, "CategoryPage", "Products", new { id = cat.CategoryID }, new { @class = "dropdown-item" })
        }
    }
</div>