@model List<RudycommerceData.Models.ASPModels.LocalizedCatListItem>

@{ 
    Layout = null;
}

<ul>
    @foreach (var cat in Model)
    {
        <li>
            @Html.ActionLink(
           cat.LocalizedName, "CategoryPage", "Products", new { id = cat.CategoryID}, null)
        </li>
    }
</ul>
