@model RudycommerceData.Models.ASPModels.CheckoutLayoutArrowModel

<div class="col-12 col-md-4 arrow-prog @Model.ClassName">
    <div class="content-vertical-center arrow-text">
        <span class="circle content-center">@Model.ArrowNumber</span>
        <span class="line-height-1">@Model.ArrowText</span>
    </div>
</div>
