<h5>@Resources.Global.SupportedCards</h5>
<ul>
    <li style="display:inline-block;list-style-type:none;">    
    <img alt="@Resources.ImgAltTexts.SupportedCard Visa" src="~/Images/logo-visa.jpg" style="max-height:3rem;" />
    </li>
    <li style="display:inline-block; list-style-type:none;">
        <img alt="@Resources.ImgAltTexts.SupportedCard MasterCard" src="~/Images/mastercard-icon.png" style="max-height:3rem;" />
    </li>
    <li style="display:inline-block; list-style-type:none;">
        <img alt="@Resources.ImgAltTexts.SupportedCard American Express" src="~/Images/amex-icon.png" style="max-height:3rem;" />
    </li>
</ul>
