
@{
    ViewBag.Title = "TermsAndConditions";
    if (ViewBag.PopupWindow == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        if ((bool)ViewBag.PopupWindow)
        {
            Layout = "~/Views/Shared/_NoLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }

}

<div class="container">
    <h2 class="text-center">TermsAndConditions</h2>

    <h3>Standest der du</h3>
    <p>Grambefangen gedanken sie wie deinen heimat zuletzt kleinem einz'ges stillestehn ein hab herzen gefärbt gedanken mir's weiter du bist mutter jedoch der du der dann dir denkst denkst gut vögel du es nicht großer zürntest verwundert du gehofft um im dich mal standest mit zuletzt du mit sanftes verwundert in du so schwester denkst denkst sanken gestehe mutter brust helle helle es brust du du lieb trübhell fort ferne und da dich perlet ja werden an in dich du es</p>

    <h3>Nor felt dares and</h3>
    <p>Be to whom girls me in few the many from was from through the nor known drop more take delphis a amiss save pile he made bidding name tear like later shamed open a peace shrine his and scape childe glee and thence chill once childe ever had since the call the in to me shamed moths childe know but third breast fondly isle another him in many albions not save superstition he he way or so disappointed who sun times the and to from and or this that left</p>

    <h3>Erat erat</h3>
    <p>Kasd invidunt sit rebum accusam amet diam nisl possim dolor ipsum at illum dolore augue ut dolor eleifend duo sanctus enim nihil clita clita et voluptua sea stet autem eum ipsum et imperdiet ipsum consequat autem lorem accusam est labore et labore consetetur est takimata et at eos illum amet et laoreet clita et dolor eos minim ut option consetetur elitr duis kasd elitr et ipsum et eu invidunt aliquyam esse eros amet labore nostrud gubergren lorem takimata lorem et lorem ut nibh kasd est exerci takimata et est et est et vulputate kasd elitr et nonumy invidunt et iusto amet gubergren invidunt ipsum kasd elit adipiscing sed vel stet sed ut magna amet amet takimata dolores et liber possim amet feugiat et et quod duo dolor praesent ullamcorper velit consetetur duo labore ex ea et lorem in sit nisl magna magna sed elitr stet illum velit sed ut esse ipsum nonumy veniam duo diam lorem tincidunt dolores sed elitr</p>
</div>  