.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    color: black;
}

    .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(168, 168, 168, 1);
    }

    .form-control::-moz-placeholder { /* Firefox 19+ */
        color: rgba(168, 168, 168, 1);
    }

    .form-control:-ms-input-placeholder { /* IE 10+ */
        color: rgba(168, 168, 168, 1);
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
        color: rgba(168, 168, 168, 1);
    }

.form-horizontal > div.row > div {
    padding: 0;
}

.form-horizontal > .form-group > div {
    padding: 0;
}

.form-horizontal > .form-group > label {
    padding: 0;
}

.form-group.cb {
    display: flex;
}

    .form-group.cb .checkbox {
        margin-right: 1rem;
    }

    .form-group.cb .control-label {
        margin-bottom: 0;
    }
