.jumbo {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

    .jumbo .container .collapse .collapse-content {
        margin-bottom: 0;
    }

.navbarbackground {
    background-color: white;
    border: 1px solid lightgray;
}

.brand-logo {
    height: 4rem;
    width: 6rem;
    margin-right: 2rem;
}

.shopping-cart {
    background-color: transparent;
    border: 0 transparent;
    margin-left: 2rem;
    margin-right: 2rem;
}

    .shopping-cart:focus {
        outline: none;
    }

    .shopping-cart img:first-child {
        height: 3rem;
    }

    .shopping-cart img:last-child {
        height: 1rem;
    }

.content-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-item.nav-item {
    margin-left: 1rem;
}

.languages {
    border-left: 1px solid rgba(0,0,0,.5);
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:first-child .languages {
    border-left: 0;
}