@media (max-width: 575px) {
    .mobile-hide {
        visibility: collapse;
        display: none;
    }
}

@media (min-width: 576px) {
    .nonmobile-hide {
        visibility: collapse;
        display: none;
    }
}

body {
    background-color: #F5F5F5;
}

.jumbo {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

    .jumbo .site-welcome {
        font-size: calc(30px + 2.5vw);
    }

    .jumbo .container .collapse .collapse-content {
        margin-bottom: 0;
    }

.navbarbackground {
    background-color: white;
    border: 1px solid lightgray;
}

.navbar-brand {
    padding: 0;
    margin-right: 0;
}

.brand-logo {
    height: 4rem;
    width: 6rem;
    margin-right: 2rem;
}

.shopping-cart {
    background-color: transparent;
    border: 0 transparent;
    margin-left: 2rem;
    margin-right: 2rem;
}

    .shopping-cart:focus {
        outline: none;
    }

    .shopping-cart img:first-child {
        height: 3rem;
    }

    .shopping-cart img:last-child {
        height: 1rem;
    }

.content-vertical-center {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.lang-item.nav-item {
    text-align: left;
}

.form-submit {
    margin-right: 1rem;
}

.languages {
    border-left: 1px solid rgba(0,0,0,.5);
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
}

.lang-item .languages:first-child {
    border-left: 0;
    margin-left: 0;
}

.footer-row .col-md-4 .footer-title {
    text-align: center;
}

.footer-row .col-md-4 p {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
}

.footer-row .col-md-4 ul {
    list-style-type: none;
    padding-left: 5px;
    text-decoration: underline;
    margin-top: -5px;
}

    .footer-row .col-md-4 ul li {
        margin-left: 10%;
    }

body > footer {
    margin-top: 3rem;
}
