@media (min-width: 576px) {
    #cart-dropdown.dropdown-menu.show {
        width: 22rem;
    }
}

.shopping-cart {
    background-color: transparent;
    border: 0 transparent;
    display: flex;
    flex-wrap: wrap;
}

    .shopping-cart > div {
        position: relative;
    }

    .shopping-cart #shopping-cart-amount {
        background-color: white;
        position: absolute;
        right: -1.2rem;
        top: -0.5rem;
        border-radius: 50%;
        border: solid #46B35F 2px;
        width: 2rem;
        height: auto;
        color: #46B35F;
        font-size: 1rem;
        font-weight: bold;
    }

    .shopping-cart:focus {
        outline: none;
    }

    .shopping-cart img:first-child {
        height: 3rem;
    }

    .shopping-cart img:last-child {
        height: 1rem;
        margin-top: 0.5rem;
    }

#cart-dropdown.dropdown-menu.show .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

#cart-products {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    width: 100%;
}

    #cart-products .row {
        margin: 0;
    }

.cart-product {
    padding-bottom: 1rem;
    width: 100%;
}

    .cart-product .row div {
        padding: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        /*.cart-product .row div.cart-quantity-buttons {
            align-items: center;
            display: initial;
        }*/

        .cart-product .row div.cart-name {
            align-items: center;
            display: flex;
            justify-content: initial;
        }

/*.cart-quantity-buttons button {
    width: 100%;
    border-radius: 5px;
}*/

.cart-quantity {
    border-right: 1px solid rgba(0,0,0,0.5);
}


#cart-total-price {
    padding-bottom: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

    #cart-total-price .row {
        margin: 0;
    }

        #cart-total-price .row > div {
            padding: 0;
            padding-top: 0.5rem;
        }


#cartrow {
    padding: 0;
    margin: 0;
}

#empty-cart {
    width: 100%;
}

#cart-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    #cart-buttons .btn {
        font-size: 0.9rem;
        margin-left: 1rem;
    }
